<h2>New DistributedToDo</h2>

<form method="post" action="/distributed_to_dos">
  <label for="template_to_do_uuid">TemplateToDo UUID</label>
  <input name="distributed_to_do[template_to_do_uuid]" id="template_to_do_uuid" type="text" />
  <br />

  <label for="due_on">Due On</label>
  <input name="distributed_to_do[due_on]" id="due_on" type="text" />
  <br />

  <label for="assignee_email_1">Assignee Email 1</label>
  <input name="distributed_to_do[assignee_emails][]" id="assignee_email_1" type="text" />
  <br />

  <label for="assignee_email_2">Assignee Email 2</label>
  <input name="distributed_to_do[assignee_emails][]" id="assignee_email_2" type="text" />
  <br />

  (A complete implementation would allow an arbitrary number of assignee_emails)
  <br />

  <label for="field_values_field1">Content for field1</label>
  <input name="distributed_to_do[field_values][field1]" id="field_values_field1" type="text" />
  <br />

  <label for="field_values_field1">Content for field2</label>
  <input name="distributed_to_do[field_values][field2]" id="field_values_field2" type="text" />
  <br />

  (A complete implementation would allow arbitrary field values)
  <br />

  <input type="submit" value="Submit" />
</form>
