<h2>New DistributedToDo</h2>

<form method="post" action="/distributed_to_dos">
  <label for="template_to_do_api_id">TemplateToDo API ID</label>
  <input name="distributed_to_do[template_to_do_api_id]" id="template_to_do_api_id" type="text" />
  <br />

  <label for="assignee_emails">Assignee Emails (JSON Array)</label>
  <input name="distributed_to_do[assignee_emails]" id="assignee_emails" type="text" />
  <br />

  <label for="content">Content (JSON object)</label>
  <input name="distributed_to_do[content]" id="content" type="text" />
  <br />

  <input type="submit" value="Submit" />
</form>
