<h1>Control API Reference</h1>

<nav>
  <ul>
    <li><a href="/status">Status</a></li>
    <li><a href="/template_to_dos">TemplateToDos</a></li>
    <li><a href="/distributed_to_dos">DistributedToDos</a></li>
    <li><a href="/users">Users</a></li>
  </ul>
</nav>
