<h2>New User</h2>

<form method="post" action="/users">
  <label for="email">Email</label>
  <input name="user[email]" id="email" type="text" />
  <br />

  <label for="firstname">First Name</label>
  <input name="user[firstname]" id="firstname" type="text" />
  <br />

  <label for="lastname">Last Name</label>
  <input name="user[lastname]" id="lastname" type="text" />
  <br />

  <input type="submit" value="Submit" />
</form>
