<h2>New User</h2>

<form method="post" action="/users">
  <label for="email">Email</label>
  <input name="user[email]" id="email" type="text" />
  <br />

  <label for="first_name">First Name</label>
  <input name="user[first_name]" id="first_name" type="text" />
  <br />

  <label for="last_name">Last Name</label>
  <input name="user[last_name]" id="last_name" type="text" />
  <br />

  <input type="submit" value="Submit" />
</form>
