<h2>New User</h2>

<form method="post" action="/users">
  <label for="email">Email</label>
  <input name="user[email]" id="email" type="text" />
  <br />

  <label for="first_name">First Name</label>
  <input name="user[first_name]" id="first_name" type="text" />
  <br />

  <label for="last_name">Last Name</label>
  <input name="user[last_name]" id="last_name" type="text" />
  <br />

  <label for="manager_email">Manager Email</label>
  <input name="user[manager_email]" id="manager_email" type="text" />
  <br />

  <label for="title">Title</label>
  <input name="user[title]" id="title" type="text" />
  <br />

  <label for="started_on">Started On (ISO8601 Date)</label>
  <input name="user[started_on]" id="started_on" type="text" />
  <br />

  <label for="review_on">Review On (ISO8601 Date)</label>
  <input name="user[review_on]" id="review_on" type="text" />
  <br />

  <label for="employee_id">Employee ID</label>
  <input name="user[employee_id]" id="employee_id" type="text" />
  <br />

  <input type="submit" value="Submit" />
</form>
